<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <div class="main">
      <% if(!user) {%>
      <form action="/log-in" method="POST" class="form">
        <label for="username">Username:</label>
        <input name="username" placeholder="Username" type="text" />
        <label for="password">Password:</label>
        <input name="password" type="password" placeholder="Password" />
        <button type="submit">Log In</button>
      </form>
      <%} else { %>
      <a href="/log-out">Log out</a>
      <% } %>
      <p><%= message %></p>
    </div>
  </body>
</html>
