<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="main">
      <form action="" method="post">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
