<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main class="main membership-page">
      <h2>Membership Privileges</h2>
      <ul>
        <li><a href="/enable-membership">Enable membership</a></li>
        <li><a href="/enable-admin">Enable admin rights</a></li>
      </ul>
    </main>
  </body>
</html>
