<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <div class="main">
      <div class="header-text">
        <h4>
          Enter the top secret password to gain member access and view who has
          posted what messages.
        </h4>
      </div>
      <form action="" method="post">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
