<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs")
    %>
    <main class="main">
      <h2>Membership Privileges</h2>

      <a href="/membership-privelege">Enable membership</a>
      <a href="/admin-privilege">Enable admin rights</a>
    </main>
  </body>
</html>
