body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.header {
  font-size: 2.4rem;
  padding: 2rem 0;
  text-align: center;
  font-weight: 600;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.main {
  padding: 2rem 0;
}

.post {
  width: 95%;
  max-width: 80rem;
  margin: 2rem auto;
}

.log-in {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.log-in-form input:first-of-type {
  margin-right: 1.5rem;
}
