html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #007afc;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  border-bottom: solid 2px #e5e5e5;
  min-width: 10vh;
}

.nav h3 {
  font-size: 3rem;
  color: #007afc;
}

.nav a {
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.nav-list a {
  color: #fff;
  padding: 0.7rem 1.2rem;
  background-color: #007afc;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}

.main {
  padding: 2rem 0;
  background-color: #f8f8f8;
  min-height: 90vh;
}

.post {
  width: 95%;
  max-width: 80rem;
  margin: 2rem auto;
}

/* Sign Up form */

.form {
  display: block;
  max-width: 50rem;
  width: 95%;
  margin: 3rem auto;
  padding: 0.5rem;
}

.form > label {
  display: block;
  padding: 1rem 0;
  font-size: 1.6rem;
}

.form > input {
  display: block;
  width: 100%;
  padding: 0.7rem 0;
  font-size: 1.6rem;
  text-indent: 0.3rem;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
}

.form > input:last-of-type {
  margin-bottom: 1.5rem;
}

.form button {
  padding: 0.8rem 0;
  font-size: 1.8rem;
  width: 100%;
  background-color: #007afc;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.main {
  padding: 2rem;
}
